/*Style général*/

@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
    scroll-behavior: smooth;
}

body {
    background-color: #1D1D1D;
    color: white;
    height: fit-content;
}

.body-service{
    height: 100vh;
    overflow-y: hidden;
}

.heading-page > h1{
    text-transform: uppercase;
}

.heading-page > hr {
    width: 100px;
    border: none;
    height: 2px;
    background-color: #CC1320;
    margin-top: -10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.white-btn-blue > a {
    color: white;
    text-decoration: none;
}

.white-btn-red > a {
    color: white;
    text-decoration: none;
}

.white-btn-blue {
    cursor: pointer;
    background-color: #1c5a8400;
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
}

.white-btn-blue:hover {
    background-color: #1C5B84;
    color: white;
    border: 3px solid #1C5B84;
}

.white-btn-red {
    cursor: pointer;
    background-color: #1c5a8400;
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
}

.white-btn-red:hover {
    background-color: #851A20;
    color: white;
    border: 3px solid #851A20;
}

.alt-white-btn-red {
    cursor: pointer;
    background-color: #1c5a8400;
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
}

.alt-white-btn-red:hover {
    background-color: white;
    color: #851A20;
    border: 3px solid white;
}

.alt-white-btn-blue {
    cursor: pointer;
    background-color: #1c5a8400;
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
}

.alt-white-btn-blue:hover {
    background-color: white;
    color: #1C5B84;
    border: 3px solid white;
}


.main-btn-blue {
    cursor: pointer;
    background-color: #1C5B84;
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.main-btn-blue:hover {
    background-color: white;
    color: #1C5B84;
    border: 3px solid #1C5B84;
}

.main-btn-red {
    cursor: pointer;
    background-color: #851A20;
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.main-btn-red:hover {
    background-color: white;
    color: #851A20;
    border: 3px solid #851A20;
}

/*Style général end*/

/*NAVBAR START*/

nav {
    justify-content: center;
    list-style: none;
  }

.navbar {
    position: fixed;
    z-index: 11;
    display: flex;
    align-items: center;
    background-color: #34343400;
    height: 70px;
    width: 100%;
    padding-left: 25px;
}

.navbar > img {
    height: 70px;
}

#menu {
    position: fixed;
    top: -100%;
    left: 0;
    transition: top 1s ease-in-out;
    background-color: #1D1D1D;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 8;
  }
  
#menu.visible {
    top: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #1D1D1D;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 8;
    transition: top 1s ease-in-out;
}

#menu-toggle-btn{
    position: fixed ;
    z-index: 9;
    right: 20px;
    top: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

/* styles pour l'effet de hover sur les éléments de classe ".line" */
#menu-toggle-btn:hover .line {
  transition: 0.5s ease-in-out;
  transform-origin: center;
}

.line {
    fill: none;
    stroke: rgb(219, 219, 219);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }


  .onglet {
    text-decoration: none;
    color: rgb(158, 158, 158);
    font-size: 2.5rem;
    font-weight: 900;
    display: block;
    margin-top: 0.5rem;
    padding: 1rem;
    z-index: 5;
}

.information-menu-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 2px solid #A7A7A7;
    width: 80%;
    margin: 20px auto;
}

.item-information-menu-footer {
    margin: 20px 30px;
    display: flex;
}

.item-information-menu-footer > img {
    height: 25px;
    margin-right: 10px;
}

.item-information-menu-footer > a {
    text-decoration: none;
    color: white;
}
/*NAVBAR END*/



/*FOOTER START*/

footer{
    background-color: #343434;
    padding: 20px 30px 0 30px;
    display: flex;
    flex-direction: column;
}

.footer-items-container{
    display: flex;
    margin-bottom: 20px;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.credentials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
    border-top: 2px solid #A7A7A7;
}

.credentials > a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
/*FOOTER END*/


/*HOME START*/



.carousel-container {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    height: 99.5vh;
  }

.carousel-counter {
    display: flex;
    position: fixed;
    z-index: 4;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-counter-item {
    font-size: 3rem;
    margin: 0px;
    position: relative;
}

.carousel-counter-item > input{
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 3.5px;
    left: 3px;
    width:  1rem;
    height: 1rem;
    opacity: 0;
}



.timer-container {
    width:  40px;
    height: 40px;
    position: relative;
}

.timer-bar {
    width:  1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotate 4s linear infinite;
}

.dot-slider {
    width:  0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    opacity: 0.8;
}

@keyframes rotate {
    0% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(300deg);
    }
}

  .home-first-slide, .home-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  
  .carousel-control {
    position: absolute;
    border-radius: 100%;
    bottom: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    font-size: 20px;
    z-index: 4;
    transition:  all 0.3s ease-in-out;
    height: 50px;
    width: 50px;
  }

  .carousel-control:hover {
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
  }
  
  .prev {
    left: 39.5%;
    bottom: 4%;
  }
  
  .next {
    right: 39.3%;
    bottom: 4%;
  }
  
  .carousel-container {
    position: relative;
  }
  
  .home-first-slide, .home-slide {
    transition: transform 0.9s ease-in-out; 
  }




video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(52, 52, 52, 0.0));
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.heading-first-slide {
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 10%;
}

.heading-first-slide > h2 {
    font-family: Raleway;
    font-size: 4rem;
    color: #1C5B84;
    margin-bottom: 30px;
}

.heading-first-slide > h2 > span{
    color: #851A20;
}

.heading-first-slide > p {
    width: 40%;
    min-width: 300px;
}

.first-slide-heading-btn {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    min-width: 300px;
    margin-top: 40px;
}



.home-slide {
    position: relative;
    height: 100vh;
    width: 100%;
}

video {
    width: 100%;
    height: 100vh;
}

.overlay-blue {
    position: absolute;
    z-index: 1;
    background-color: rgba(17, 53, 77, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.overlay-red {
    position: absolute;
    z-index: 1;
    background-color: rgba(70, 5, 10, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.heading-slide {
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading-slide > h4 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

.heading-slide > h2 {
    font-family: Corben;
    font-size: 4.3rem;
    margin-bottom: 20px;
}

.heading-separator-blue {
    width: 30%;
    margin: auto;
    height: 3px;
    background-color: #1C5B84;
    border: none;
}

.heading-separator-red {
    width: 30%;
    margin: auto;
    height: 3px;
    background-color: #851A20;
    border: none;
}

.heading-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
/*HOME END*/


/*SERVICES START*/

.page-title {
    padding: 60px 0;
}

.page-title > h1 {
    text-align: center;
    margin-bottom: 20px;
}

.service-info {
    padding: 0 10%;
}

.service-info > h3 {
    margin: 20px 0 ;
}

.service-info > p {
    margin-bottom: 20px;
}


.service-nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1B1B1B;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 0 0;
}

.service-nav-item-red {
    background: #1B1B1B;
    background: linear-gradient(180deg, #1B1B1B, #851A2200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    transition: all 0.3s ease-in-out;
}


.service-nav-item-red > a {
    padding: 8px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
}

.service-nav-item-red:hover {
    background-color: #851A20;
}

.active-red {
    background-color: #851A20;
}

.service-nav-item-red > a > img{
    height: 20px;
}

.service-nav-item-red > a > h4{
    font-weight: 400;
}


.service-nav-item-blue {
    background: #1B1B1B;
    background: linear-gradient(180deg, #1B1B1B, #851A2200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    transition: all 0.3s ease-in-out;
}


.service-nav-item-blue > a {
    padding: 8px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
}

.service-nav-item-blue:hover {
    background-color: #1C5B84;
}

.active-blue {
    background-color: #1C5B84;
}

.service-nav-item-blue > a > img{
    height: 20px;
}

.service-nav-item-blue > a > h4{
    font-weight: 400;
}


.carousel-services-container {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

  .item {
    width: 300px;
    height: 400px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    cursor: pointer;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
    
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 330px); }
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: Raleway;
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 1rem;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }


  
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }
  
  @media (width < 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 140px); }
      &:nth-child(5) { left: calc(50% + 280px); }
      &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
  } 



/*AUDIOVISUEL START*/




.espaceur{
    height: 18vh;
}

.espaceur-before-full-width-container {
    height: 10vh;
}

.red-container {
    background-color: #851A20;
    padding: 30px;
    position: relative;
    min-height: 50vh;
}



.service-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-content-img {
    width: 40%;
    min-width: 450px;
    max-width: 480px;
    margin: 0 20px;
    position: relative;
    height: fit-content;
}

.service-content-img > img {
    width: 100%;
}

.fade-img-left-red {
    position: absolute;
    top: 0;
    left: 0;
    background: #851A21;
    background: linear-gradient(90deg, #851A21, #851A2200);
    width: 10%;
    height: 100%;
}

.fade-img-right-red {
    position: absolute;
    top: 0;
    right: 0;
    background: #851A21;
    background: linear-gradient(-90deg, #851A21, #851A2200);
    width: 10%;
    height: 100%;
}

.fade-container-red {
    position: absolute;
    z-index: 1;
    bottom: -20%;
    right: 0;
    background: #851A21;
    background: linear-gradient(180deg, #851A21, #851A2200);
    width: 100%;
    height: 20%;
}

.service-content-text {
    width: 50%;
    min-width: 350px;
}

.service-content-text > h3 {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.service-content-text > .btn-right {
    position: absolute;
    z-index: 2;
    bottom: -40px;
    left: 0;
    margin-left: 70%;
    transform: translateX(-70%);
}

.service-content-text > .btn-left {
    position: absolute;
    bottom: -40px;
    left: 0;
    margin-left: 25%;
    transform: translateX(-25%);
}


.black-container {
    padding: 30px;
    position: relative;
    min-height: 50vh;
}

.fade-img-left-black {
    position: absolute;
    top: 0;
    left: 0;
    background: #1D1D1D;
    background: linear-gradient(90deg, #1D1D1D, #1D1D1D00);
    width: 10%;
    height: 100%;
}

.fade-img-right-black {
    position: absolute;
    top: 0;
    right: 0;
    background: #1D1D1D;
    background: linear-gradient(-90deg, #1D1D1D, #1D1D1D00);
    width: 10%;
    height: 100%;
}



.red-container-full-width {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('../IMG/Images/audio-visuel_storytelling.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fade-container-black {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    background: #1D1D1D;
    background: linear-gradient(0deg, #1D1D1D, #1D1D1D00);
    width: 100%;
    height: 40%;
}

.overlay-full-width-red {
    background: #851A21;
    background: linear-gradient(-90deg, #851A21, #851a2100);
    height: 100%;
    width: 90%;
    float: right;
}

.overlay-full-width-red > .service-content-text {
    position: relative;
    z-index: 1;
    margin: 50px 0 0 450px;
}

.overlay-full-width-red > .service-content-text > button {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}


.audiovisuel-black-container-full-width {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('../IMG/Images/audio-visuel_communication.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.web-black-container-full-width {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('../IMG/Images/devweb-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-full-width-black {
    background: #1D1D1D;
    background: linear-gradient(90deg, #1D1D1D, #1d1d1d3b);
    height: 100%;
    width: 100%;
    float: left;
}

.overlay-full-width-black > .service-content-text {
    position: relative;
    z-index: 1;
    margin: 50px 450px 0 0;
}

.overlay-full-width-black > .service-content-text > button {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}
/*AUDIOVISUEL END*/

/*WEB START*/


.blue-container {
    background-color: #1C5B84;
    padding: 30px;
    position: relative;
    min-height: 50vh;
}


.fade-img-right-blue {
    position: absolute;
    top: 0;
    right: 0;
    background: #1C5B84;
    background: linear-gradient(-90deg, #1C5B84, #1C5B8400);
    width: 10%;
    height: 100%;
}

.fade-img-left-blue {
    position: absolute;
    top: 0;
    left: 0;
    background: #1C5B84;
    background: linear-gradient(90deg, #1C5B84, #1C5B8400);
    width: 10%;
    height: 100%;
}

.fade-container-blue {
    position: absolute;
    z-index: 1;
    bottom: -20%;
    right: 0;
    background: #1C5B84;
    background: linear-gradient(180deg, #1C5B84, #1C5B8400);
    width: 100%;
    height: 20%;
}


.blue-container-full-width {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('../IMG/Images/developpementWeb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-full-width-blue {
    background: #1C5B84;
    background: linear-gradient(-90deg, #1C5B84, #1C5B8400);
    height: 100%;
    width: 90%;
    float: right;
}

.overlay-full-width-blue > .service-content-text {
    position: relative;
    z-index: 1;
    margin: 50px 0 0 450px;
}

.overlay-full-width-blue > .service-content-text > button {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}


/*WEB END*/


/*SERVICES END*/


/*ABOUT START*/

.about-container {
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.about-container > h2 {
    text-align: center;
    color: #1C5B84;
    margin-bottom: 50px;
    font-size: 2rem;
}

.about-container > h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.about-container > h2 > span {
    color: #851A20;
}

.about-container > h3 > span {
    color: #1C5B84;
}

.about-container > h4 {
    margin: 40px 0 10px 0;
}

.about-container-video {
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 30px;
}

.about-members {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-members-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.about-members-item > img {
    border-radius: 50%;
    width: 100px;
    height: inherit;
    margin-bottom: 20px;
}

.about-members-item-info {
    text-align: center;
}

/*ABOUT END*/



/*PORTFOLIO START*/

.portfolio-container {
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}


.portfolio-container > h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
}


.portfolio-container > h3 > span {
    color: #CC1320;
}

.cards-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
     background-color: rgba(0, 0, 255, 0.41);
     margin: 10px;
     width: 300px;
     height: 300px;
     border-radius: 15px;
}

/*PORTFOLIO END*/



/*CONTACT START*/

.contact-container {
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.contact-container > h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
}


.contact-container > h3 > span {
    color: #CC1320;
}

.contact-info {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socials-info {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info-item {
    display: flex;
    align-items: start;
    padding: 10px 20px;
}

.contact-info-item > img {
    height: 25px;
    margin-right: 10px;
}

.contact-info-item > a {
    text-decoration: none;
    color:  white;
}


.inputs-view {
    background-image: url(../IMG/Images/developpementWeb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.inputs-view > button {
    margin-top: 8%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.50);
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.inputs-view > button:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: white;
    color: rgb(0, 0, 0)
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 40vh;
}

.input-label-container {
    display: flex;
    flex-direction: column;
}

.input-label-container > input {
    width: 350px;
    border: 3px solid white;
    font-size: 1rem;
    color: white;
    outline: none;
    padding: 8px 20px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.input-label-container > input {
    width: 350px;
    border: 3px solid white;
    font-size: 1rem;
    color: white;
    outline: none;
    padding: 8px 20px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
}


/*CONTACT END*/